@import "@fontsource/space-mono/700.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Space Mono", monospace;
  background-color: hsl(185, 41%, 84%);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

@media (min-width: 64rem) {
  body {
    display: flex;
    justify-content: center;

    height: 100vh;
  }
}
